#color-schema-ui {
  position: fixed;
  left: 50px;
  width: 250px;
  height: 150px;
  top: 100px;
  text-align: center;
  z-index: 9999;
}

#color-schema-ui .btn {
  clear: both;
  margin-bottom: 5px;
  white-space: normal;
  width: 100%;
}

#color-schema-ui .btn.save {
  margin-top: 20px;
}

#color-schema-ui .picker_done > button {
  background: #007bff;
  color: white;
  font-weight: bold;
  margin: -1px;
  font-size: 14px;
}
