<div id="color-schema-ui">
  {% for colorMachineName, colorHumanReadableName in colors %}
    <div class="{{ colorMachineName }}">
      <button type="button" class="btn btn-default">{{ colorHumanReadableName|t }}</button>
    </div>
  {% endfor %}
  <br />
  <button type="button" class="btn btn-default save">{{ 'Save'|t }}</button>
</div>
